Source: yandex-mysql-diff
Section: yandex
Priority: optional
Maintainer: Stepan Koltsov <stepancheg@yandex-team.ru>
Build-Depends: yandex-ant, yandex-jdk6, yandex-scala
Standards-Version: 1.0

Package: yandex-mysql-diff
Architecture: all
Depends: yandex-jdk6
Description: mysql-diff
 $HeadURL: https://svn.yandex.ru/capital/mysql-diff/trunk/debian/control $
